.blog-links
  = link_to "Home", root_path, class: 'button radius small left'
  %ul.right.inline-list
    %li
      %a{href: '', class: 'button radius small'} Link 1
    %li
      %a{href: '', class: 'button radius small'} Link 2
    %li
      %a{href: '', class: 'button radius small'} Link 3
    %li
      %a{href: '', class: 'button radius small'} Link 4
