%footer
  .footer-wrapper
    %p.footer-left
      Blog at
      = link_to "AppExpress.io", "http://alpha.appexpress.io"
      | Theme: essay
    %p.footer-right
      Copyright ©
      = current_year
      -if get_blog_config('blog_owner')
        &mdash;
      = get_blog_config('blog_owner')
