.hero-author
  @include grid-row
  text-align: center
  border-bottom: 1px solid $border-color

  .avatar
    margin: -52px auto 20px
    display: block
    border-radius: $global-radius
    border: 2px solid #fff

  .name
    font-weight: bold

.essay-top-bar
  display: block
  padding: 30px 20px

  .logo
    font-weight: bold
    color: #555
    border: 3px solid #555
    padding: rem-calc(6 8 7)

    &:hover
      text-decoration: none
      color: #222
      border: 3px solid #222
