.hero-author
  %img{src: 'http://placekitten.com/100/100', class: 'avatar'}
  %h1.name
    Karlo Karlo
  %p.description
    Lorem Lorem
    Lorem Lorem
    Lorem Lorem

.posts-list
  .list-header
    Latest Posts
  = render @posts
  = render 'layouts/default-theme/blog_pager'

- content_for :page_title do
  .cover-photo-wrapper
    .cover-photo

